:root {
  --aside-border: #eeeeee;
  --background-blue: #1f4b7b;
  --background-card-area: #ededed;
  --background-card: #F9FDFF;
  --background-green: var(--aside-border);
  --card-border: #C7D3D8;
  --card-text: #3C6577;
  --hover-title: #FF6A59;
  --label: rgb(42, 88, 107);
  --urgent-active: #2a577e;
  --urgent-background: #FFE89D;
  --urgent-border-active: #FFC30C;
  --filter-border: #794213;
  --urgent-button: #3a6c98;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-green);
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

img {
  height: 25px;
}

input:focus,
button:focus {
  outline: none;
  outline: none;
}

/* HEADER section */

nav {
  align-items: center;
  background-color: var(--background-blue);
  display: flex;
  justify-content: space-between;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
  z-index: 30;
  border-bottom: 1px solid rgb(40, 85, 113);
  position: relative;
}

h1 {
  color: white;
  font-size: 38px;
  font-weight: 400;
  margin-left: 20px;
  transition: .15s;
}

h1:hover {
  color: rgb(255, 231, 153);
  transition: 0.15s;
}

h1 span {
  color: #FEC30C;
}

nav form {
  display: flex;
  margin-right: 28px;
  width: 350px;
  height: 35px;
}

nav img {
  background-color: rgba(255, 255, 255, 0.269);
  height: 35px;
  padding: 5px 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

nav input {
  color: var(--background-blue);
  width: 100%;
  font-size: 22px;
  padding-left: 10px;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* MAIN section */

main {
  display: flex;
  flex-direction: row;
  min-height: -webkit-fill-available;
}

/* SIDEBAR section */

aside {
  background-color: rgb(211, 211, 211);;
  height: auto;
  width: 35%;
  border-right: solid 1px rgb(205, 205, 205);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: fit-content;
}

.aside__top {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.075);
}

label {
  color: var(--label);
  font-weight: bold;
  margin: 30px 0 10px 0;
  font-size: 18px;
}

aside form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 90%;
}

.aside__button {
  background-color: var(--background-blue);
  color: white;
  font-size: 22px;
  font-weight: bold;
  height: 45px;
  width: 100%;
  border: 0;
  border-radius: 3px;
  margin-top: 0px;
  margin: auto;
  margin-bottom: 20px;
  transition: 0.15s;
}

.aside__button:hover {
  background-color: var(--urgent-button);
  transition: 0.15s;
}

.aside__button:active {
  background-color: var(--urgent-active);
  transition: 0.15s;
}

.aside__button:disabled {
  background-color: #93939362;
  color: rgba(255, 255, 255, 0.527);
  transition: 0.15s;
  pointer-events: none;
}

aside input {
  height: 35px;
  width: 100%;
  font-size: 22px;
  padding-left: 5px;
  border: none;
  background: rgba(255, 255, 255, 0);
  border-bottom: solid 2px var(--background-blue);
  color: rgb(46, 46, 46);
  border-radius: 5px 5px 0 0;
  transition: .2s ease-in-out;
}

aside input:hover {
  background: rgba(89, 107, 123, 0.137);
  transition: .2s ease-in-out;
}

input::placeholder {
  color: rgb(165, 165, 165);
}

.aside__div {
  display: flex;
  margin-bottom: 30px;
}

.aside__div button {
  width: 60px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  transition: 0.15s ease-in-out;
  border-bottom: solid 2px var(--background-blue);
}

.aside__div button:hover {
  color: rgb(61, 100, 159);
  transition: 0.15s ease-in-out;
}

.aside__div button:active {
  color: rgb(46, 93, 150);
  transition: 0.15s ease-in-out;
}

.aside__div__button {
  width: 30px;
  height: 32px;
  font-size: 45px;
  font-weight: 400;
  color: var(--background-blue);
  padding-bottom: 0;
  line-height: 0.6;
  transition: 0.15s ease-in-out;
  border-radius: 5px 5px 0 0;
}

.aside__div__button:disabled {
  background-color: #93939301;
  color: rgba(255, 255, 255, 0);
  transition: 0.15s;
  pointer-events: none;
}

aside ul {
  margin: 20px auto 0 auto;
}

aside ul img {
  margin-right: 6px;
  margin-top: 4px;
}

aside ul img:hover {
  content:url("images/delete-active.svg");
}

aside li {
  margin-top: 5px;
  padding: 3px 0 0 10px;
  display: flex;
}

aside p {
  background-color: #ffd558;
  font-size: 18px;
  border-radius: 5px;
  padding: 6px;
}

#button-create:disabled {
  background-color: #93939362;
  color: rgba(255, 255, 255, 0.527);
	transition: 0.15s;
	pointer-events: none;
}

.aside__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.aside__bottom button {
  margin-top: 25px;
  margin-bottom: 40px;
}

.aside__button--orange {
  background-color: rgb(79, 144, 201);
  transition: 0.15s;
}

.aside__button--orange:hover {
  background-color: rgb(107, 172, 228);
  transition: 0.15s;
}

.aside__button--orange:active {
  background-color: rgb(79, 144, 201);
  transition: 0.15s;
}

/* CARD AREA section */

.card__area {
  background-color: var(--background-card-area);
  column-gap: 1.5rem;
  column-width: 21em;
  padding: 30px;
  width: 100%;
}

.article__card--yellow {
  background: var(--urgent-background);
  border: 1px solid var(--urgent-border-active);
  display: inline-block;
  margin-bottom: 1.75rem;
  transition: .15s;
  width: 100%;
}

article {
  background: var(--background-card);
  display: inline-block;
  border: 1px solid #C7D3D8;
  margin-bottom: 1.75rem;
  width: 100%;
  box-shadow: 0 2px 4px #00000046;
  border-radius: 3px;
  transition: .15s;
}

article:hover {
  box-shadow: 0 4px 10px #0000002f;
  transition: 0.15s;
}

header {
  width: 92%;
  margin: auto;
  height: 40px;
  margin-top: 8px;
}

h2:focus, 
p:focus,
li:focus {
  outline: none;
}

h2 {
  padding-top: 3px;
  height: 33px;
  border-radius: 4px;
  border: 2px dashed #00000000;
}

.card__main {
  border-bottom: 2px solid var(--card-border);
  border-top: 2px solid var(--card-border);
  margin: 0 auto;
  width: 99%;
}

.card__border--yellow {
  width: 99%;
  margin: 0 auto;
  border-top: 2px solid var(--urgent-border-active);
  border-bottom: 2px solid var(--urgent-border-active);
}

ul {
  list-style: none;
  width: 95%;
}

li {
  display: flex;
}

article ul {
  margin: 10px 0;
}

article p {
  margin: 0.2rem 0;
  font-size: 22px;
  border-radius: 5px;
  border: dashed 2px #00000000;
  padding: 5px;
}

.card__text--blue {
  color: rgb(31, 80, 139);
  text-decoration: line-through;
  transition: .15s;
}

.card__img--check {
  content: url("images/checkbox-active.svg");
} 

article li img {
  margin: 11px 5px 0 15px;
  height: 23px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  margin: 0 auto;
  color: rgb(89, 111, 113);
}

footer button {
  height: 90%;
  all: unset;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.card__text--red {
  color: var(--urgent-active);
}

.card__text--black {
  color: black;
}

footer img {
  height: 30px;
  margin-bottom: 5px;
}

footer p {
  text-align: center;
  color: black;
}

.card__urgent--img {
  content:url("images/urgent-active.svg");
}

.button-urgent {
  color: black;
}

.card__delete--img:hover {
  content:url("images/delete-active.svg");
}

@media only screen and (max-width: 730px) {

  /* HEADER section */

  h1 {
    font-size: 40px;
    margin: 0;
  }
  
  nav {
    flex-direction: column;
    height: 130px;
    justify-content: space-evenly;
  }

  aside ul img:hover {
    content: none;
  }
  
  nav form {
    margin: 0;
    width: 90%;
    height: 55px;
  }
  
  nav img {
    height: 55px;
    padding: 14px 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  
  nav input {
    height: 55px;
    font-size: 25px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  /* MAIN section */

  main {
    min-height: auto;
    flex-direction: column;
  }

  /* SIDEBAR section */
  
  aside {
    width: 100%;
  }
  
  label {
    font-size: 25px;
  }
  
  aside input {
    height: 40px;
    padding-left: 8px;
    font-size: 25px;
  }
  
  input::placeholder {
    font-size: 25px;
  }

  aside img {
    height: 48px;
  }
  
  aside ul {
    width: 100%;
  }
  
  aside p {
    padding: 12px;
    font-size: 25px;
  }
  
  .aside__button {
    height: 55px;
    font-size: 25px;
  }

  .aside__button:hover {
    background-color: var(--background-blue);
    border: 0;
  }

  .aside__div button {
    height: 40px;
    width: 70px;
    font-size: 45px;
  }

  #prioritize {
    margin-bottom: 40px;
  }

  /* CARD AREA section */

  .card__area {
    padding: 12px;
    column-width: 22em;
    padding-top: 35px;
  }

  article {
    border-radius: 8px;
  }

  header {
    height: 60px;
  }

  h2 {
    padding-top: 8px;
    height: 53px; 
    font-size: 32px;
    width: 100%;
    border-radius: 8px;
    transition: 0.15s;
  }
  
  article ul {
    margin: 20px 0;
  }

  article li img {
    height: 34px;
    margin: 10px 2px 0 15px;
  }

  article p {
    font-size: 25px;
    padding: 8px;
  }

  footer {
    height: 90px;
  }

  footer img {
    height: 42px;
  }

  .card__delete--img:hover {
    content: none;
  }

  h6 {
    font-size: 18px;
  }
}
