:root {
  --aside-border: #3B6577;
  --background-blue: #1F1F3D;
  --background-card-area: #F3F6F7;
  --background-card: #F9FDFF;
  --background-green: #587A8A;
  --card-border: #C7D3D8;
  --card-text: #3C6577;
  --hover-title: #FF6A59;
  --label: #BDCBD1;
  --urgent-active: #B23A25;
  --urgent-background: #FFE89D;
  --urgent-border-active: #FFC30C;
  --filter-border: #782616;
  --urgent-button: #EF4A23;
}

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* *, 
*:before, 
*:after {
  box-sizing:  border-box;
}  */

body {
	background-color: var(--background-green);
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

img {
	height: 25px;
}

input:focus,
button:focus {
	outline: none;
	outline: none;
}

/* HEADER section */

nav {
	align-items: center;
	background-color: var(--background-blue);
	display: flex;
	justify-content: space-between;
	height: 75px;
}

h1 {
	color: white;
	font-size: 38px;
	font-weight: bold;
	margin-left: 20px;
}

h1:hover {
	color: var(--hover-title);
	transition: 0.25s;
}

h1 span {
	color: #FEC30C;
}

nav form {
	display: flex;
	margin-right: 15px;
	width: 400px;
	height: 50px;
}

nav img {
	background-color: var(--label);
	height: 50px;
	padding: 9px 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

nav input {
  color: var(--background-blue);
	width: 100%;
	font-size: 22px;
	padding-left: 10px;
	border: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* MAIN section */

main {
	display: flex;
	flex-direction: row;
}

/* SIDEBAR section */

aside {
	background-color: var(--background-green);
	height: 100vh;
	width: 45%;
	border-right: solid 2px var(--aside-border);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.aside-top {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 400px;
	border-bottom: solid 2px var(--aside-border);
	width: 100%;
}

label {
	color: var(--label);
  font-weight: bold;
  margin: 30px 0 10px 0;
  font-size: 18px
}

aside form {
  display: flex;
  justify-content: flex-start;
	flex-direction: column;
	width: 90%;
  height: 400px;
}

.button-sidebar {
	background-color: var(--background-blue);
	color: white;
	font-size: 22px;
	font-weight: bold;
	height: 50px;
	width: 100%;
	border: 0;
  border-radius: 3px;
  margin-top: 20px;
}

.button-sidebar:hover {
  background-color: var(--urgent-button);
  transition: 0.20s;
  border: solid 2px var(--filter-border);
}

.button-sidebar:active {
  background-color: var(--urgent-active);
  transition: 0.20s;
  border: solid 2px var(--filter-border);
}

.add-form {
  display: flex;
}

aside input {
	height: 50px;
	width: 100%;
	font-size: 22px;
  padding-left: 10px;
	border: solid 2px var(--background-blue);
  border-radius: 3px;
  color: var(--background-blue);
}

.add-form input {
	border-radius: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}

.plus-icon {
  width: 100%;
  height: 100%;
	border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px;
}

.add-form button {
  width: 55px;
  height: 50px;
  background-color: #1F1F3D;
  border: 0;
	border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: solid 2px var(--background-blue);
  border-right: solid 2px var(--background-blue);
  border-bottom: solid 2px var(--background-blue);
}

.add-form button:hover {
  background-color: var(--urgent-button);
  transition: 0.25s;
}

.add-form button:active {
  background-color: var(--urgent-active);
  transition: 0.25s;
}

.aside-bottom {
	height: 85px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
}

/* CARD AREA section */

.card-area {
	background-color: var(--background-card-area);
  column-gap: 1.5rem;
  column-width: 19em;  
  padding: 30px;
  width: 100%;
}

article {
  /* padding:  1rem; */
  background: var(--background-card);
  border: 2px solid var(--card-border);
  display: inline-block;
  margin:  0.25rem;
  margin-bottom: 1.75rem;
  width:  100%; 
}

header {
  width: 92%;
  margin: auto;
  height: 40px;
  margin-top: 8px;
}

p {
  margin:  1rem 0; 
  font-size: 22px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  margin: 0 auto;
}

footer button {
  height: 90%;
  all: unset;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

footer img {
  height: 30px;
  margin-bottom: 5px;
}

ul {
  list-style: none;
}

.card-main-section {
  width: 99%;
  margin: 0 auto;
  border-top: 2px solid var(--card-border);
  border-bottom: 2px solid var(--card-border);
}

li {
  display: flex;
  padding: 0;
}

li img {
  margin: 21px 15px 0 15px;
  height: 23px;
}