:root {
  --aside-border: #3B6577;
  --background-blue: #1F1F3D;
  --background-card-area: #F3F6F7;
  --background-card: #F9FDFF;
  --background-green: #587A8A;
  --card-border: #C7D3D8;
  --card-text: #3C6577;
  --hover-title: #FF6A59;
  --label: #BDCBD1;
  --urgent-active: #B23A25;
  --urgent-background: #FFE89D;
  --urgent-border-active: #FFC30C;
  --filter-border: #782616;
  --urgent-button: #EF4A23;
}

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-green);
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

img {
  height: 25px;
}

input:focus,
button:focus {
  outline: none;
  outline: none;
}

/* HEADER section */

nav {
  align-items: center;
  background-color: var(--background-blue);
  display: flex;
  justify-content: space-between;
  height: 75px;
}

h1 {
  color: white;
  font-size: 38px;
  font-weight: 800;
  margin-left: 20px;
}

h1:hover {
  color: var(--hover-title);
  transition: 0.25s;
}

h1 span {
  color: #FEC30C;
}

nav form {
  display: flex;
  margin-right: 28px;
  width: 350px;
  height: 50px;
}

nav img {
  background-color: var(--label);
  height: 50px;
  padding: 9px 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

nav input {
  color: var(--background-blue);
  width: 100%;
  font-size: 22px;
  padding-left: 10px;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* MAIN section */

main {
  display: flex;
  flex-direction: row;
}

/* SIDEBAR section */

aside {
  background-color: var(--background-green);
  height: 100vh;
  width: 45%;
  border-right: solid 2px var(--aside-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.aside-top {
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: solid 2px var(--aside-border);
  width: 100%;
}

label {
  color: var(--label);
  font-weight: bold;
  margin: 30px 0 10px 0;
  font-size: 18px
}

aside form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 90%;
}

.button-sidebar {
  background-color: var(--background-blue);
  color: white;
  font-size: 22px;
  font-weight: bold;
  height: 50px;
  width: 100%;
  border: 0;
  border-radius: 3px;
  margin-top: 0px;
  margin-bottom: 20px;
  transition: 0.25s;
}

.button-sidebar:hover {
  background-color: var(--urgent-button);
  transition: 0.20s;
  border: solid 2px var(--filter-border);
}

.button-sidebar:active {
  background-color: var(--urgent-active);
  transition: 0.20s;
  border: solid 2px var(--filter-border);
}

.add-form {
  display: flex;
  margin-bottom: 30px;
}

aside input {
  height: 50px;
  width: 100%;
  font-size: 22px;
  padding-left: 10px;
  border: solid 2px var(--background-blue);
  border-radius: 3px;
  color: var(--background-blue);
}

.add-form input {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px
}

.button-add {
  width: 50px;
  height: 50px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 50px;
  color: white;
  font-weight: 400;
  padding-bottom: 0;
  line-height: 0.6;
  transition: 0.25s;
}

.add-form button {
  width: 60px;
  height: 50px;
  background-color: var(--background-blue);
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: solid 2px var(--background-blue);
  border-right: solid 2px var(--background-blue);
  border-bottom: solid 2px var(--background-blue);
}

.button-add:disabled {
  background-color: #525461;
  transition: 0.25s;
  pointer-events: none;
}

.button-sidebar:disabled {
  background-color: #525461;
  transition: 0.25s;
  pointer-events: none;
}

.add-form button:hover {
  background-color: var(--urgent-button);
  transition: 0.25s;
}

.add-form button:active {
  background-color: var(--urgent-active);
  transition: 0.25s;
}

aside ul {
  margin: 20px auto 0 auto;
}

aside li {
  margin-top: 5px;
  padding: 3px 0 0 10px;
  display: flex;
}

aside p {
  background-color: #ffd558;
  font-size: 18px;
  border-radius: 5px;
  padding: 6px;
}

input::placeholder {
  color: lightgray;
}

aside ul img {
  margin-right: 6px;
  margin-top: 4px;
}

aside ul img:hover {
	content:url("images/delete-active.svg");
}

#button-create:disabled {
	background-color: #525461;
	transition: 0.25s;
	pointer-events: none;
}

.aside-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.aside-bottom button {
  margin-top: 25px;
}

/* CARD AREA section */

.card-area {
  background-color: var(--background-card-area);
  column-gap: 1.5rem;
  column-width: 19em;
  padding: 30px;
  width: 100%;
}

.urgent-card {
  background: var(--urgent-background);
  border: 2px solid var(--urgent-border-active);
  display: inline-block;
  margin: 0.25rem;
  margin-bottom: 1.75rem;
  width: 100%;
}

article {
  background: var(--background-card);
  border: 2px solid var(--card-border);
  display: inline-block;
  margin: 0.25rem;
  margin-bottom: 1.75rem;
  width: 100%;
  box-shadow: 0 0 12px #d8d8d8;
}

article:hover {
  box-shadow: 0 0 25px #cecece;
  transition: 0.3s
}

header {
  width: 92%;
  margin: auto;
  height: 40px;
  margin-top: 8px;
}

article p {
  margin: 0.2rem 0;
  font-size: 22px;
  border-radius: 5px;
  border: dashed 2px rgba(0,0,0,0);
  padding: 5px;
}

.check-task-text {
  font-style: italic;
  color: var(--aside-border);
  text-decoration: line-through;
}

.check-task-icon {
  content: url("images/checkbox-active.svg");
} 


h2 {
  padding-top: 3px;
  height: 33px;
  border-radius: 4px;
  border: 2px dashed rgba(0,0,0,0);
}

h2:hover,
article p:hover {
  background-color: rgba(126, 126, 126, 0.075);
  border: dashed 2px var(--card-border);
  transition: 0.25s;
}

h2:focus, 
p:focus,
li:focus {
  outline: none;
}

h2:focus,
article p:focus {
  background-color: rgba(0,0,0,0);
  border: dashed 2px var(--card-border);
  transition: 0.25s;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  margin: 0 auto;
  color: var(--aside-border);
}

footer button {
  height: 90%;
  all: unset;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.urgent-buttons {
  color: black;
}

footer img {
  height: 30px;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  width: 95%
}

article ul {
  margin: 10px 0;
}

.card-main-section {
  border-bottom: 2px solid var(--card-border);
  border-top: 2px solid var(--card-border);
  margin: 0 auto;
  width: 99%;
}

.urgent-content {
  width: 99%;
  margin: 0 auto;
  border-top: 2px solid var(--urgent-border-active);
  border-bottom: 2px solid var(--urgent-border-active);
}

.check-urgent-text {
  color: var(--urgent-active);
}

li {
  display: flex;
}

article li img {
  margin: 11px 5px 0 15px;
  height: 23px;
}

article li img:hover {
  content:url("images/checkbox-active.svg");
}

.button-urgent-active {
  content:url("images/urgent-active.svg");
}

.button-urgent:hover {
  content:url("images/urgent-active.svg");
}

.button-delete-card:hover {
  content:url("images/delete-active.svg");
}

@media only screen and (max-width: 730px) {

  nav {
    flex-direction: column;
    height: 140px;
    justify-content: space-evenly;
  }

  h1 {
    margin: 0;
  }

  nav form {
    margin: 0;
    width: 90%;
  }

  aside {
    width: 100%;
  }

  main {
    flex-direction: column;
  }
}